header.appHeader {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  gap: 3.2rem;

  article {
    @apply flex items-center;
  }

  article:first-child {
    @apply justify-start;
  }

  article:not(:first-child, :last-child) {
    @apply justify-center;
  }

  article:last-child {
    @apply justify-end;
  }
}